.header {
  background-color: #f2f2f2;
  padding: 10px;
}

.navbar {
  display: flex;
  justify-content: right;
  margin-right: 5%;
}
.navbar p {
  margin-right: 10px;
  color: black;
  font-size: large;
}

.navbar p :hover{
  margin-right: 10px;
  color: rgb(98, 80, 234);
}